<!DOCTYPE html>
<html lang="en">

<style>
.dmpheader {
	
	background: #133569;
	height: 130px;
	color :white;
}

.dmpcontent {
	height: 700px;
	overflow:scroll; 

}

.dmpfooter {
	
	background: #133569;
	height: 100px;
}

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    background-color: #FFF;
}


</style>

{% load staticfiles %}

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dmpstyle.css" type="text/css"/> 
    <line rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" type="text/css"/>
    				 
    <title>{% block title %}DMP{% endblock %}</title>
</head>



 

<body>
<script src="{% static "static_jquery/js/jquery.js" %}"></script>
<script src="{% static "static_jquery/js/jquery.min.js" %}"></script>
<script src="{% static "static_jquery/js/jquery.min.map" %}"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script> 

 
<script>
 function myFunction() {
	 if (window.jQuery) {alert("JQuery has loaded") }
 	
 }
 </script> 
 
 <script>
 
 $(function() {
   $( ".datepicker" ).datepicker({
     changeMonth: true,
     changeYear: true,
     yearRange: "2015:2050",
     dateFormat: "yy-mm-dd",
     autoSize : true, 
     showOn : "both",
     currentText: "Now",
     
     // You can put more options here.

   });
 });
 </script>
   
  
 <script>
 function myFunction() {
	 if (window.jQuery) {alert("hi") }
 	
 }
 </script> 


    <div class="dmpheader">
        {% block header %}
        
      		<img src="{% static "dmpapp/image001.gif" %}" alt="My image"/> 
      		<h3>Kia Ora  {{ user }} <h3>
    	{% endblock %}
    </div>
    


    <div class="dmpcontent">
        {% block content %}
        
        {% endblock %}
    </div>
    
    <div class="dmpfooter">
        {% block footer %}
        
        
      		
    	{% endblock %}
    </div>
    
</body>
</html>