{% if project_list %}
    <h1>Welcome to the DMP. Here is a list of projects. </h1>
    <h2>Shows only the projects for which {{ user }} is a member</h2>
    <ul>
    {% for project in project_list %}
        <li><a href="/dmp/project/{{ project.id }}/">{{ project.name }}</a></li>
    {% endfor %}
    	</ul>
	{% else %}
    	<p>No projects are available.</p>
   	
{% endif %}
<form action="/dmp/project_new/"  {{ None }}  method="get">
   		<button type="submit" value="Submit">Add a new project</button>
</form>