{% extends "dmpapp/base.html" %}

 

 {% block content %}
 
   
<h3>update_project.html  </h3>
<h3> {{ form.id }} </h3>
  
<form action="/dmp/projectpost/{{ form.id }}/" method="POST">
  

    {% csrf_token %}
      
    
    {{ form.as_p }}
    {% if form.start_date.errors %}
              <span class="help-block">
                {% for error in form.start_date.errors %}{{ error }}{% endfor %}
              </span>
            {% endif %}
    <input type="submit" value="Save" />

	
</script>


</form>


	<button type="button"
		onclick="myFunction()">
	Click here</button>
	
<button onclick="location.href = '/dmp/';" id="myButton" class="float-left submit-button" >Cancel</button>

<!--  show link to datasets, unless we are creating a new project -->
{% if form.id  %}            
 <a href="/dmp/datasets?pid={{ form.id }}">View datasets for this project</a>
{% endif %}            
 
 {% endblock %}