{% extends "dmpapp/base.html" %}


{% block content %}

<h3>updateds.html {{ pid }}</h3>

<form action="/dmp/datasetpost/{{ form.id }}/" method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    {% if form.errors %}
    	<h1>errors</h1>
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
     
{% endif %}
    {% if form.start_date.errors %}
     	<span class="help-block">
        {% for error in form.start_date.errors %}{{ error }}{% endfor %}
    {% endif %}
     
    <input type="submit" value="Save" />
            
</form>

 
 <button onclick="location.href = '/dmp/datasets/?pid={{ pid }}';" id="myButton" class="float-left submit-button" >Cancel</button>
 


{% endblock %}