<script type="text/javascript" src="/admin/jsi18n/"></script>
<h1>update_project.html</h1>
<h1> {{ form.id }} </h1>
  
<form action="/dmp/projectpost/{{ form.id }}/" method="POST">
  

    {% csrf_token %}
    
    {{ form }}
    {% if form.start_date.errors %}
              <span class="help-block">
                {% for error in form.start_date.errors %}{{ error }}{% endfor %}
              </span>
            {% endif %}
    <input type="submit" value="Save" />

</form>
<!--  show link to datasets, unless we are creating a new project -->
{% if form.id  %}            
 <a href="/dmp/datasets?pid={{ form.id }}">View datasets for this project</a>
{% endif %}            
 